
#cart_count{
	text-align: center;
	padding: 0 0.9rem 0.1rem 0.9rem;
	border-radius: 3rem;
}



.menu {
  overflow: hidden;
  background-color: #333;
}

.menu a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.drop_down {
  float: right;
  overflow: hidden;
}

.drop_down .drop_btn{
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu:hover, .drop_down:hover .dropbtn {
  background-color: red;
}

.drop_down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop_down-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop_down-content a:hover {
  background-color: #ddd;
}

.drop_down:hover .drop_down-content {
  display: block;
}

.cart_count{
  text-align:center;
  padding: 0 0.9rem 0.1rem 0.9rem;
  border-radius:3rem;
}

.cart-items{
  padding:2px 0px;
}



button a{
  text-decoration: none;
}